@using UrlShortener.DAL.Entities
@inject SignInManager<User> SignInManager

<ul class="nav navbar-nav flex-nowrap gap-4">
  @if (SignInManager.IsSignedIn(User))
  {
    <li>
      <a class="nav-link px-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
        <i class="lni lni-user"></i> <span>Hesabım</span>
      </a>
    </li>
    <li>
      <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
        <button type="submit" class="nav-link px-0 btn btn-link"><i class="lni lni-lock"></i> <span>Çıkış</span></button>
      </form>
    </li>
  }
  else
  {
    <li>
      <a class="nav-link px-0" asp-area="Identity" asp-page="/Account/Register">
        <i class="lni lni-users"></i> <span>Kaydol</span>
      </a>
    </li>
    <li>
      <a class="nav-link px-0" asp-area="Identity" asp-page="/Account/Login">
        <i class="lni lni-unlock"></i> <span>Oturum aç</span>
      </a>
    </li>
  }
</ul>
