@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Hesap doğrulama";
}

<h1>@ViewData["Title"]</h1>

<section class="mt-5">
  <partial name="_StatusMessage" model="Model.StatusMessage" />
</section>
