@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Şifreni mi unuttun?";
}

<h1>@ViewData["Title"]</h1>

<section class="mt-5">
  <p>E-postanızı giriniz.</p>

  <hr />

  <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
      <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
      <label asp-for="Input.Email" class="form-label">E-posta</label>
      <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary">Parola Sıfırla</button>
  </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
